body{
  background-color: #282c35;
}

.App {
  text-align: center;
}

.location-data {
  color: white;
  margin-top : 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer {
  color: white;
  margin-top : 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer-btn {
  margin-left : 50px;
}

button {
  margin: 0px 10px 0px 10px;
}